/**** RAW COLORS ****/
$tundora: #444444;
$boulder: #7A7A7A;
$gray: #909090;
$silver-chalice: #ADADAD;
$mercury: #E5E5E5;
$white: #FFFFFF;

$friar-gray: #878787;
$zillow-blue: #0074e4;
$zillow-blue: #0074e4;

/**** TEMPLATE COLORS ****/
$main: $white;
$main-text: $tundora;
$bg: $tundora;
$bg-text: $white;
$disabled: $white;
$disabled-text: $silver-chalice;
$border: $mercury;

$hover: $friar-gray !default;
$hover-text: $white !default;
$font: "Gotham,gotham";

/**** SCREEN SIZES ****/
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

/**** GENERICS ****/
html, body {
  font-family: $font, Verdana, 'Open Sans', sans-serif;
  color: $main-text;
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: inherit;
}

p {
  margin: 0 0 10px;
}

md-tooltip {
  color: $bg-text;
  background-color: $bg;
  font-size: 1em;
}

.hover {
  background-color: $hover;
  color: $hover-text;
}

.link {
  &:hover {
    color: $hover;
  }
}

.md-button {
  border-radius: 0;
  text-overflow: ellipsis;
  &.primary {
    color: $bg-text;
    background-color: $bg;

    &:hover {
      background-color: $hover;
      color: $hover-text;
    }
  }
  &.primaryFlipped {
    color: $bg;
    background-color: $bg-text;

    &:hover {
      background-color: $hover;
      color: $hover-text;
    }
  }
  &.disabled, &:disabled {
    color: $disabled-text;
    background-color: $disabled;
    cursor: default;
    &:hover {
      color: $disabled-text;
      background-color: $disabled;
    }
  }
  &.border {
    box-shadow: 0px 0px 0px 1px $bg inset;
    &:hover {
      background-color: $hover;
      color: $hover-text;
      box-shadow: none;
    }
  }
  &.disabledFlipped {
    color: $disabled;
    background-color: $disabled-text;
  }
}

md-menu-content {
  background-color: white;
  md-menu-item {
    &:hover {
      background-color: $hover;
      color: $hover-text;
    }
  }
}

.center {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg;
  opacity: .4;
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent \9
; /* ie fallback png background image */
  z-index: 9999;
  display: flex;
  justify-content: center;
  md-progress-circular {
    align-self: center;
    svg {
      stroke: $hover;
    }
  }
}

md-input-container {
  .md-input:not(:focus) {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: $border;
  }
}

md-radio-button {
  &.md-checked {
    .md-on {
      background-color: $hover;
    }
  }
}

md-autocomplete {
  background: $white;
}

.md-autocomplete-suggestions li {
  background: $white;
  &:focus, &:hover {
    background: $mercury;
    span {
      color: $zillow-blue;
    }
  }
}

md-tooltip .md-content {
  height: auto !important;
  max-width: 200px !important;
  font-size: 13px !important;
}

md-tooltip {
  height: auto !important;
  max-width: 200px !important;
  font-size: 13px !important;
  overflow: visible !important;
  white-space: normal !important;
}

md-tooltip ._md-content {
  height: auto !important;
  max-width: 200px !important;
  font-size: 13px !important;
}

/**** MENU BAR ****/

/**** HOME PAGE ****/
#homePage {
  md-checkbox {
    padding-top: 15px;
    padding-right: 15px;
    width: 100%;
    color: $white;
    text-align: right;
    .md-container {
      left: initial;
      margin-top: 8px;
    }
  }
  .searchContainer {
    word-spacing: -.26em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    button {
      width: auto;
      padding: 0 12px;
      font-size: 1em;
      background-color: $zillow-blue;
      border: 0;
      height: 100%;
      span {
        color: $white;
      }
    }
  }
  .searchError {
    right: 0;
    padding: 5px;
    border: 1px solid #fd8602;
    background: #feffdf;
    text-align: center;
    span {
      color: #444;
    }
  }
}

/**** OVERVIEW PAGE ****/
#overview {
  margin-top: 150px;
  .zsg-layout-bc {
    margin-left: auto;
    margin-right: auto;
  }
  .largePrice {
    font-weight: 700;
    font-size: 2.5em;
  }
  .mediumPrice {
    font-weight: 700;
    font-size: 2em;
  }
  .zillowTooltipButton {
    min-height: 0;
    min-width: 0;
    margin: 0;
  }
  .valueDecrease {
    border-radius: 5px;
    color: #c00;
    border: 1px solid #c00;
    padding: 1px 5px;
    font-size: 14px;
    margin-right: 5px;
  }
  .valueIncrease {
    border-radius: 5px;
    border: 1px solid #87d300;
    color: #87d300;
    padding: 1px 5px;
    font-size: 14px;
    margin-right: 5px;
  }
  .zest-range .zest-range-bar {
    border-radius: 9px;
    width: 100%;
    height: 18px;
    background-color: #eee;
    padding: 0 6px;
    margin: 8px 0 4px;
    position: relative;
    color: #999;
  }
  .zest-range .zest-range-bar .zest-range-bar-sep{background-color:#000;width:1px;height:140%;top:-20%;left:50%;position:absolute}
  .zest-range .zest-range-bar .zest-range-bar-low{float:left}
  .zest-range .zest-range-bar .zest-range-bar-high{float:right}

  .mapThisHome, .graphsAndData {
    width:100%;
    img {
      width: 100%;
    }
  }

}