.generic-box
  .module-body.clearfix
    .cf-bal-container
      .zsg-content-component
        .bal-refactor.bal
          h2.form-title(ng-if="!contactSuccessful") Contact Carl
          form.cfjs-form.multi-zuid-select.zsg-form.validation-above.contact-wide.contact-ready(ng-if="!contactSuccessful")
            .column.ajax-form-content
              .form-input.contact-fields.zsg-form-field.field-name
                input.cfjs-name-input(type='text', title='Please enter your name.', placeholder='Your Name', ng-model="contactField.name", required='required', pattern='^[^!@#$%&*+=]+$')
              .form-input.contact-fields.zsg-form-field.field-phone
                input.cfjs-phone-input(type='tel', title='Please enter a valid phone number, beginning with + for international numbers.', placeholder='Phone', ng-model="contactField.phone", required='required', data-intl='true', maxlength='23')
              .form-input.contact-fields.zsg-form-field.field-email
                input.cfjs-email-input(type='email', title='Please enter a valid email address.', placeholder='Email', ng-model="contactField.email", required='required', value='')
              .form-input.zsg-form-field.form_textarea
                textarea(maxlength='500', rows='3', ng-model='contactField.message')
              .form-input.zsg-form-actions.zsg-form-actions_collapsed.zsg-form-field(ng-if="contactError")
                p.cfjs-form-error-text.validation-above-messaging.zsg-form-error-text
                | {{contactError}}
                br
              button#lead-form-submit-button_contact-wide.contact-submit.zsg-button_primary(ng-click="contact()") Submit
              br
              br
              md-checkbox.md-primary(md-no-ink='', aria-label='Seriously', ng-model='contactField.serious') I'm serious
          .footer.lead-form-footer(ng-if="contactSuccessful")
            #contact-wide-response.post-submit-upsell-response.collapsible_disabled.messaging
              .yui3-widget-hd
                h4 Contact Successful!
              .yui3-widget-bd
                p.message
                .zmm-hdp-upsell-copy.success.zmm-upsell-msg.default-zmm-msg
                  div Thank you for contacting me! I will try to get back to you as soon as possible.
                  p
                    | Please e-mail carl@salonfrontdesk.com or call 626-466-6473 if this is urgent.
