div(layout='row' flex layout-align='start start')
  #wrapper.main-wrapper(style='background-position: 0% 0px;')
    .zsg-modal-mask
  header.zss-header.pinnable-header.zsg-layout-width.layout-width_marginless
    nav.nav-top.nav-top_full(role='navigation')
      a.zsg-logo.za-track-event(href='/', title='Zillow Property Explorer')
        svg.zsg-logo-svg
          use.zsg-logo-house(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#logo-house-svg')
          use.zsg-logo-text(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#logo-text-svg')
      svg(xmlns='http://www.w3.org/2000/svg', style='display:none')
        symbol#logo-text-svg(viewbox='0 0 100 100')
          path(d='M61.2 81.8c1.1-1.2 1.5-2.6 1.5-4.7 0-2-.4-3.3-1.4-4.5-1.1-1.2-2.4-1.8-4.2-1.8-3.3 0-5.5 2.6-5.5 6.4 0 3.9 2.2 6.4 5.5 6.4C59 83.5 60.3 82.9 61.2 81.8zM58.6 73.7c.4.6.7 1.6.7 3.3 0 2.9-.6 4.1-2 4.1-.6 0-1.3-.3-1.6-1-.3-.6-.4-1.7-.4-3.1 0-1.2.1-2.1.3-2.7.3-.8.9-1.2 1.7-1.2C57.8 73.1 58.3 73.3 58.6 73.7zM76.8 83.2 80.4 71H77l-.9 4.4c-.3 1.6-.6 3.5-.7 4 0 0-.4-2.1-.9-4.3l-1-4.1h-3l-1.2 4.1c-.6 2.1-.9 4.3-.9 4.3S68 77 67.7 75.5l-1-4.6h-3.3l3.4 12.3h3l.6-2.5c.3-1.1.8-3.3 1.1-4.3.2-.9.2-1.1.3-1.6.1.5.1.6.2 1.2.1.8.4 2 .7 3l1.1 4.2H76.8zM45.8 83.2h3.3l0-17.7-3.3.7L45.8 83.2zM39.4 83.2h3.3l0-17.7-3.3.7L39.4 83.2zM33 83.3h3.2l0-11.5L33 72.5 33 83.3zM34.6 71c1.1 0 2-.9 2-2 0-1.1-.9-2-2-2-1.1 0-2 .9-2 2C32.7 70.2 33.6 71 34.6 71zM30 83.2l.9-2.7h-5.6l-1.4 0c0 0 .3-.5.6-1.1l6.4-11.1v-2.4h-10L20 68.7h5.2c1 0 1.4 0 1.4 0s-.2.6-.7 1.4l-6.3 10.8v2.3H30z')
        symbol#logo-house-svg(viewbox='0 0 100 100')
          path(d='M30 48.8c4.9-5.1 22.6-21.5 22.6-21.5-9.2 2.2-18.8 5.1-22.3 6.7l-5.2 5.3c4.3-.9 5.7-1.1 8.9-1.6L30 48.8zM62.8 23.2c0 0-15.6 15.8-18.1 18 4.8-1.7 14.5-3.8 20.7-4.1.7-2.2 1.5-3.8 1.5-3.8l8.3-.8C75.2 32.5 68.9 27.4 62.8 23.2zM27.3 56.3c1.8-.8 18.6-6.4 34.1-7.3.3-1.3 2-5.7 2.3-6.9-16.1 1.1-29.1 6-34.4 8.4L27.3 56.3zM52.4 16.3c-2.8 1.3-10.8 7.5-15.1 10.7 5.2-1.8 17.8-4.6 24.3-4.7C59.6 20.9 53.9 17.1 52.4 16.3z')
      |
      a.zsg-logo-menu.za-track-event(title='Zillow Real Estate', aria-label='menu toggle button', role='button')
        img(src='/img/logo.svg')
        span.notification-badge-placeholder
      |
      a.za-track-event.zsg-logo_home-link.zsg-link(href='/')
        span Homepage
      .nav-top-container(aria-hidden='true')
        .main-nav.nav-top-group.nav_hoverable
          section.nav-section.nav-dropdown.nav-section_wide
            header.nav-header
              a(href='#', title='Buy')
                span Buy
              span.zsg-icon-expando-down(role='button', aria-label='open or close section')
            ul.nav-content(aria-hidden='true')
              li
                header.nav-sub-header  {{buyText}}
                ul.nav-link-section.list-drawer.drawer-closed
                  li
                    ul.nav-link-list
                      li
                        a(href='{{homesForSaleLink}}' target="_blank" title='Homes for sale')
                          span Homes for sale
                      li
                        a(href='{{homesForSaleByOwnerLink}}' target="_blank" title='For sale by owner')
                          span For sale by owner
          section.nav-section.nav-dropdown.nav-section_wide
            header.nav-header
              a(href='https://www.zillow.com' title='Zillow Site' target='_blank')
                span Zillow Site
          section#login-block.profile-nav.nav-section.nav-dropdown.nav-dropdown_right.logged-in
            header.nav-header
              a(href='https://bitbucket.org/carlngan/property-explorer' title='Bitbucket' target='_blank')
                span Bitbucket
  //-.zsg-nav-sub-wrapper
    .zsg-nav-sub.zsg-layout-width
      .hdp-sticky-bar
        form.zsg-searchbox.yui3-skin-sam(action='/search/RealEstateSearch.htm', role='search', method='get')
          label.hide-visually(for='citystatezip') Search
          input#citystatezip.yui3-aclist-input(name='citystatezip', placeholder='City, State, or Zip', type='text', aria-autocomplete='list', aria-expanded='false', aria-owns='yui_3_18_1_1_1490673621252_3384', autocomplete='off'
          style='width:250px;position:absolute;right:50px;')
          .zsg-searchbox-content-container
            button.zsg-searchbox-content.zsg-search-button(type='submit', aria-label='Submit', data-za-category='TopNav', data-za-action='Search box', data-za-label='HDP')
              i.zsg-icon-searchglass





















  //-md-nav-bar(nav-bar-aria-label='navigation links' layout='row' flex flex-gt-sm="70" flex-offset-gt-sm='15')
    div
      a#yui_3_18_1_1_1490672063336_1726.zsg-logo.za-track-event(href='https://www.zillow.com/', title='Zillow Real Estate', accesskey='1', data-za-category='TopNav', data-za-action='Zillow logo click', data-za-label='')
        svg#yui_3_18_1_1_1490672063336_1724.zsg-logo-svg
          use.zsg-logo-house(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#logo-house-svg')
          use.zsg-logo-text(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#logo-text-svg')
      a.zsg-logo-menu.za-track-event(title='Zillow Real Estate', accesskey='1', data-za-category='TopNav', data-za-action='Zillow logo click', data-za-label='', aria-label='menu toggle button', role='button')
        img(src='/img/logo.svg')
        span.notification-badge-placeholder


    md-nav-item(md-nav-click="goto('page1')", name='page1')  Page One
    md-nav-item(md-nav-click="goto('page2')", name='page2')  Page Two
    md-nav-item(md-nav-click="goto('page3')", name='page3')  Page Three