doctype html
html(lang='en', ng-app='propertyExplorer')
  head
    title Zillow | Property Explorer
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='See the details of a particular home given an address or parts of an address.')
    meta(charset='utf-8')
    base(href='/')

    link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')

    link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

    link(type='text/css', rel='stylesheet', href='/bower/angular-material/angular-material.min.css')

    // Zillow Stylesheets
    link(type='text/css', rel='stylesheet', href='/css/gotham.css')
    link(type='text/css', rel='stylesheet', href='/css/zsg-core.css')
    link(type='text/css', rel='stylesheet', href='/css/zsg-opt.css')
    link(type='text/css', rel='stylesheet', href='/css/zillow.css')

    //Overwrites
    link(type='text/css', rel='stylesheet', href='/css/style.min.css')

    link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')

  body(layout='column' ng-cloak ng-controller='PropertyExplorerCtrl')
    md-content(layout='column' flex='100')
      include ./includes/menu.pug
      ui-view
      include ./includes/footer.pug

    // Script Begins
    script(src='/bower/angular/angular.min.js')
    script(src='/js/app.js')
    script(src='/js/PropertyExplorerService.js')
    script(src='/js/PropertyExplorerCtrl.js')
    script(src='/bower/angular-animate/angular-animate.min.js')
    script(src='/bower/angular-aria/angular-aria.min.js')
    script(src='/bower/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/bower/ocLazyLoad/dist/ocLazyLoad.min.js')
    script(src='/bower/angular-sanitize/angular-sanitize.min.js')
    script(src='/bower/angular-material/angular-material.min.js')