#overview
  .zsg-layout-bc.zsg-layout-width
    main.zsg-layout-bc-b
      .zsg-layout-content(ng-if="message.code==0")
        div
          .zsg-tooltip-viewport.prop.photos-swap
            .zsg-g.zsg-g_gutterless
            .hdp-content-wrapper
              .zsg-lg-2-3.zsg-sm-1-1(ng-if="result.address")
                header
                  h1.notranslate
                    | {{result.address.street}},
                    span.zsg-h2.addr_city {{result.address.city}}, {{result.address.state}} {{result.address.zip}}
                  h3
                    span.addr_bbs Zillow Property Id:
                    a(href='{{result.links.homeDetails}}' target='_blank')
                      span.addr_bbs &nbsp;{{result.zpid}}
              .zsg-lg-1-3.zsg-md-1-1.hdp-summary(ng-if="result.address && result.zestimate")
                #home-value-wrapper
                  .estimates
                    .status-icon-row.for-sale-row.home-summary-row
                      span#listing-icon.zsg-icon-for-rent.for-rent
                      |  Zestimate Value
                      span
                        span.value-suffix
                    .largePrice {{result.zestimate.amount}}
                .lpb-enhancement.zsg-content-item
                  div.zsg-fineprint Longitude: {{result.address.longitude}}
                  div.zsg-fineprint Latitude: {{result.address.latitude}}
              section(ng-if="result.address && result.localRealEstate")
                .zsg-lg-2-3.zsg-md-1-1
                  .zsg-content-component
                    .notranslate.zsg-content-item
                      | With property prices stabilizing in the {{result.localRealEstate.name}} community, there is no better
                      | time to invest than now! Just wait a few centuries and you will see tremendous results for yourself.
                      | Whether you are looking to buy a new home, rent a place, or just conducting this interview,
                      | Zillow Property Finder can contribute to making your day better. Continue browsing for more surprises --
                      | just keep in mind that this summary is considered hypothetical and confidently
                      | backed by no accurate or legitimate sources.
                      .zsg-layout-top
                        h3.zsg-h4.zsg-content_reduced Buy land, they're not making it anymore.
                        | - Mark Twain
                .hdp-facts.zsg-content-component.z-moreless
                  .prop-fact-links.zsg-content-component
                    .zsg-g_gutterless
                      .zsg-lg-1-1
                        span.additional-links
                          .zsg-content-item
                            a.za-track-event.zsg-link_primary(href='{{result.links.homeDetails}}' target='_blank') View Home Details
              section(ng-if="result.zestimate || result.rentzestimate")
                h2 Zestimate Details
                .zsg-content-component
                  .zest-container
                    .zsg-g
                      .zest.zsg-lg-1-3.zsg-md-1-1(ng-if="result.zestimate")
                        .zest-inner
                          .zsg-g_gutterless.zest-content
                            .zsg-lg-1-1.zsg-md-1-2
                              .zest-title
                                | Zestimate&nbsp;
                                md-button.zillowTooltipButton.zsg-tooltip-launch.zsg-icon-circle-question
                                  md-tooltip(md-direction='right') {{zestimateTooltip}}
                              .zest-value.mediumPrice {{result.zestimate.amount}}
                              .zest-change
                                span(ng-class='valueIncreased(result.zestimate.valueChange.amount)?"valueIncrease":"valueDecrease"') {{result.zestimate.valueChange.amount}}
                                br
                                span.zsg-fineprint Last {{result.zestimate.valueChange.duration}} days
                            .zsg-lg-1-1.zsg-md-1-2
                              .zest-range
                                .zest-range-bar.zsg-fineprint
                                  span.zest-range-bar-low {{result.zestimate.valuationRange.low}}
                                  .zest-range-bar-sep(style='left: {{result.zestimate.realPercentile}}%')
                                  span.zest-range-bar-high {{result.zestimate.valuationRange.high}}
                                .zest-range-caption.zsg-fineprint Zestimate range
                      .zest.zsg-lg-1-3.zsg-md-1-1(ng-if="result.rentzestimate")
                        .zest-inner
                          .zsg-g_gutterless.zest-content
                            .zsg-lg-1-1.zsg-md-1-2
                              .zest-title
                                | Rent Zestimate&nbsp;
                                md-button.zillowTooltipButton.zsg-tooltip-launch.zsg-icon-circle-question
                                  md-tooltip(md-direction='right') {{rentZestimateTooltip}}
                              .zest-value.mediumPrice {{result.rentzestimate.amount}}/mo
                              .zest-change
                                span(ng-class='valueIncreased(result.rentzestimate.valueChange.amount)?"valueIncrease":"valueDecrease"') {{result.rentzestimate.valueChange.amount}}
                                br
                                span.zsg-fineprint Last {{result.rentzestimate.valueChange.duration}} days
                            .zsg-lg-1-1.zsg-md-1-2
                              .zest-range
                                .zest-range-bar.zsg-fineprint
                                  span.zest-range-bar-low {{result.rentzestimate.valuationRange.low}}
                                  .zest-range-bar-sep(style='left: {{result.rentzestimate.realPercentile}}%')
                                  span.zest-range-bar-high {{result.rentzestimate.valuationRange.high}}
                                .zest-range-caption.zsg-fineprint Zestimate range
              section(ng-if="result.zestimate && result.links")
                h2 Comparable Homes
                h3  Homes like this sold for {{result.zestimate.valuationRange.low}} - {{result.zestimate.valuationRange.high}}.
                .zsg-content-component
                  .shadow
                    a.zsg-button_alt.pricingToolEntryButton.za-track-event(href='{{result.links.comparables}}' target="_blank") See Comparable Homes
              section(ng-if="result.localRealEstate")
                h2 Neighborhood: {{result.localRealEstate.name}}
                .zsg-content-component
                  section
                    .region-homevalues
                      .zsg-g
                        .region-homevalues-zestimate.zsg-lg-1-3.zsg-md-1-2.zsg-sm-1-1.zsg-content-component
                          .zsg-g
                            .zsg-lg-1.zsg-md-1.zsg-sm-1-2
                              h4
                                | Median Zestimate&nbsp;
                                md-button.zillowTooltipButton.zsg-tooltip-launch.zsg-icon-circle-question
                                  md-tooltip(md-direction='right') {{medianTooltip}}
                              h2.zsg-content_collapsed ${{result.localRealEstate.zindexValue}}
                  .za-track-event.zsg-content-component.notranslate
                    | Zillow predicts&nbsp;
                    a(href='{{result.localRealEstate.links.overview}}') {{result.localRealEstate.name}} home values
                    |  will either rise, fall, or stay the same next year. Among {{result.localRealEstate.name}} homes,
                    | this home is either less expensive, more expensive, or the same as the midpoint (median) home,
                    | priced at a certain dollar per square foot.
              section.contact-wrapper-wide.collapsible_disabled(ng-if="result.address && result.localRealEstate")
                #contact-wide
                  include ./includes/contact.pug
      .zsg-layout-content(ng-if="message.code!=0" style="height:100vh;")
        div
          .zsg-tooltip-viewport.prop.photos-swap
            .zsg-g.zsg-g_gutterless
              .zsg-lg-2-3.zsg-sm-1-1
                header
                  h1.notranslate {{message.text}}
                  span {{message.resolution}}
                  br
                  br
                  span Please mention code {{message.code}} if you report this error.
                  | We apologize for any inconvenience this may have caused.
                  br
                  br
                  h4
                    span.addr_bbs Click
                    a(href='/')
                      span.addr_bbs &nbsp;here&nbsp;
                    span.addr_bbs to go back.
    aside.zsg-layout-bc-c.photo-wall-aside
      .sticky-fixed-shim.hide
      div
        .zsg-content-item.contact-wrapper.full-c-col-only
          #contact-tall
            include ./includes/contact.pug
        .zsg-box.zsg-content-item(ng-if="result.links.mapThisHome")
          .mapThisHome
            h3 Map this Home
            a.routable(href='{{result.links.mapThisHome}}' target="_blank")
              img(alt='Map' src='/img/google-maps.jpg')
            .zsg-copy_secondary.comps-text-overflow_full
              span Image Credits: https://www.maps.google.com
        .zsg-box.zsg-content-item(ng-if="result.links.graphsAndData")
          .graphsAndData
            h3 Graphs and Data
            a.routable(href='{{result.links.graphsAndData}}' target="_blank")
              img(alt='Map' src='/img/graphs-and-data.png')
            .zsg-copy_secondary.comps-text-overflow_full
              span Image Credits: https://www.purrmetrix.com