#homePage.CONTROL.page(style='height:100vh;')
  .marquee(role='listbox')
    .marquee-fade
      .marquee-image(role='option')
        video.marquee-video(src='https://videos.zillowstatic.com/homepage/video_buy_20161121_1800.mp4', preload='none', poster='https://videos.zillowstatic.com/homepage/video_buy_20161121_1800_q.jpg', autoplay='true', loop='true')
  .zsg-layout-width.main-content
    main.zsg-layout-content(role='main')
      .viewport-top
        .search-wrapper
          section.search
            header.search-hdr
              h1.search-hdr-text.zsg-content_collapsed
                | Property Explorer
                sup &reg;
            .zsg-g.zsg-g_gutterless
              .zsg-lg-1.zsg-md-1.zsg-sm-1.search-body-container
                .search-body
                  .searchError(ng-if="searchError")
                    span {{searchError}}
                  .zsg-searchbox.zsg-searchbox_lg
                    md-autocomplete(ng-disabled='isDisabled', md-no-cache='noCache', md-clear-button="false",
                    md-selected-item='selectedItem', md-search-text-change='searchTextChange(searchText)',
                    md-search-text='searchText', md-selected-item-change='selectedItemChange(item)',
                    md-items='item in querySearch(searchText)', md-item-text='item.formatted_address',
                    md-min-length='0', placeholder='Enter a full address')
                      md-item-template
                        span(md-highlight-text='searchText', md-highlight-flags='^i') {{item.formatted_address}}
                      md-not-found
                        | No results found. Please make sure you are inputting a full address.
                    .searchContainer
                      button(ng-click="search()")
                        span Search
                  md-checkbox.md-primary(md-no-ink='', aria-label='Zestimate Rental', ng-model='rentzestimate')  Show Zestimate Rental Information