/**** RAW COLORS ****/
/**** TEMPLATE COLORS ****/
/**** SCREEN SIZES ****/
/**** GENERICS ****/
html, body {
  font-family: "Gotham,gotham", Verdana, "Open Sans", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 1.5; }

a {
  color: #337ab7;
  text-decoration: none; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: inherit; }

p {
  margin: 0 0 10px; }

md-tooltip {
  color: #FFFFFF;
  background-color: #444444;
  font-size: 1em; }

.hover {
  background-color: #878787;
  color: #FFFFFF; }

.link:hover {
  color: #878787; }

.md-button {
  border-radius: 0;
  text-overflow: ellipsis; }
  .md-button.primary {
    color: #FFFFFF;
    background-color: #444444; }
    .md-button.primary:hover {
      background-color: #878787;
      color: #FFFFFF; }
  .md-button.primaryFlipped {
    color: #444444;
    background-color: #FFFFFF; }
    .md-button.primaryFlipped:hover {
      background-color: #878787;
      color: #FFFFFF; }
  .md-button.disabled, .md-button:disabled {
    color: #ADADAD;
    background-color: #FFFFFF;
    cursor: default; }
    .md-button.disabled:hover, .md-button:disabled:hover {
      color: #ADADAD;
      background-color: #FFFFFF; }
  .md-button.border {
    box-shadow: 0px 0px 0px 1px #444444 inset; }
    .md-button.border:hover {
      background-color: #878787;
      color: #FFFFFF;
      box-shadow: none; }
  .md-button.disabledFlipped {
    color: #FFFFFF;
    background-color: #ADADAD; }

md-menu-content {
  background-color: white; }
  md-menu-content md-menu-item:hover {
    background-color: #878787;
    color: #FFFFFF; }

.center {
  text-align: center; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444444;
  opacity: .4;
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent \9 ;
  /* ie fallback png background image */
  z-index: 9999;
  display: flex;
  justify-content: center; }
  .overlay md-progress-circular {
    align-self: center; }
    .overlay md-progress-circular svg {
      stroke: #878787; }

md-input-container .md-input:not(:focus) {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #E5E5E5; }

md-radio-button.md-checked .md-on {
  background-color: #878787; }

md-autocomplete {
  background: #FFFFFF; }

.md-autocomplete-suggestions li {
  background: #FFFFFF; }
  .md-autocomplete-suggestions li:focus, .md-autocomplete-suggestions li:hover {
    background: #E5E5E5; }
    .md-autocomplete-suggestions li:focus span, .md-autocomplete-suggestions li:hover span {
      color: #0074e4; }

md-tooltip .md-content {
  height: auto !important;
  max-width: 200px !important;
  font-size: 13px !important; }

md-tooltip {
  height: auto !important;
  max-width: 200px !important;
  font-size: 13px !important;
  overflow: visible !important;
  white-space: normal !important; }

md-tooltip ._md-content {
  height: auto !important;
  max-width: 200px !important;
  font-size: 13px !important; }

/**** MENU BAR ****/
/**** HOME PAGE ****/
#homePage md-checkbox {
  padding-top: 15px;
  padding-right: 15px;
  width: 100%;
  color: #FFFFFF;
  text-align: right; }
  #homePage md-checkbox .md-container {
    left: initial;
    margin-top: 8px; }

#homePage .searchContainer {
  word-spacing: -.26em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0; }
  #homePage .searchContainer button {
    width: auto;
    padding: 0 12px;
    font-size: 1em;
    background-color: #0074e4;
    border: 0;
    height: 100%; }
    #homePage .searchContainer button span {
      color: #FFFFFF; }

#homePage .searchError {
  right: 0;
  padding: 5px;
  border: 1px solid #fd8602;
  background: #feffdf;
  text-align: center; }
  #homePage .searchError span {
    color: #444; }

/**** OVERVIEW PAGE ****/
#overview {
  margin-top: 150px; }
  #overview .zsg-layout-bc {
    margin-left: auto;
    margin-right: auto; }
  #overview .largePrice {
    font-weight: 700;
    font-size: 2.5em; }
  #overview .mediumPrice {
    font-weight: 700;
    font-size: 2em; }
  #overview .zillowTooltipButton {
    min-height: 0;
    min-width: 0;
    margin: 0; }
  #overview .valueDecrease {
    border-radius: 5px;
    color: #c00;
    border: 1px solid #c00;
    padding: 1px 5px;
    font-size: 14px;
    margin-right: 5px; }
  #overview .valueIncrease {
    border-radius: 5px;
    border: 1px solid #87d300;
    color: #87d300;
    padding: 1px 5px;
    font-size: 14px;
    margin-right: 5px; }
  #overview .zest-range .zest-range-bar {
    border-radius: 9px;
    width: 100%;
    height: 18px;
    background-color: #eee;
    padding: 0 6px;
    margin: 8px 0 4px;
    position: relative;
    color: #999; }
  #overview .zest-range .zest-range-bar .zest-range-bar-sep {
    background-color: #000;
    width: 1px;
    height: 140%;
    top: -20%;
    left: 50%;
    position: absolute; }
  #overview .zest-range .zest-range-bar .zest-range-bar-low {
    float: left; }
  #overview .zest-range .zest-range-bar .zest-range-bar-high {
    float: right; }
  #overview .mapThisHome, #overview .graphsAndData {
    width: 100%; }
    #overview .mapThisHome img, #overview .graphsAndData img {
      width: 100%; }
